/* @import url("https://fonts.googleapis.com/css?family=lovelo"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.about-text {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  padding: 25px;
  line-height: 150%;
  max-width: 1080px;
}

